.delete_message {
    font-size: 30px;
    margin-left: 4%;
    margin-bottom: 15px;
}

.button_1 {
    display: inline-block;
    margin-left: 6%;
    font-size: 20px;
}

.button_2 {
    display: inline-block;
    font-size: 20px;
}