.layout {
    text-align: center; 
    margin: 100px;
    color: blue;
    background-color: pink;
}

h4 {
  font-size: 500px;
  margin: 500px;
  color: aliceblue;
}

div {
  font-size: 900px;
}
.test {
  font-size: 900px;
}
