<html>
{% extends 'base.html' %}    
{% block content %}

{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/update.css' %}">
</head>

<h1 class="title">編集画面</h1>
<table>
    <form action="" method="POST">{% csrf_token %}
    <tr class="left"><td>タイトル：</td><td>{{ form.title }}</td></tr>
    <tr><td class="left">内容：</td><td>{{ form.memo }}</td></tr>
    <tr><td class="left">優先順位：</td><td><h5>{{ form.priority }}</h5></td></tr>
    <tr><td class="left">期限：</td><td>{{ form.duedate }}<br>※期限はyyyy-mm-dd方式で入力すること</td></tr>
    <tr><td><h4 class="update_buttom"><input type="submit" value="update">
    </form></h4></td></tr>    
</table>
{% endblock content %}

</html>